name: 3 - Terraform CI (Plan)

on:
  pull_request:
    branches:
      - main

permissions:
    id-token: write
    contents: read


env:
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  ARM_USE_OIDC: true

jobs:
    terraform-plan:
        name: 'Terraform Plan'
        runs-on : ubuntu-latest
        
        defaults:
            run:
                working-directory: ./environments/dev
        steps:
           - name: Checkout du code
             uses: actions/checkout@v4

           - name: Installation de Terraform
             uses: hashicorp/setup-terraform@v3

           - name: Connexion à Azure (OIDC)
             uses: azure/login@v2
             with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

           - name: Création de la clé SSH pour Terraform
             run: |
               mkdir -p ~/.ssh
               echo "${{ secrets.AZURE_SSH_PUBLIC_KEY }}" > ~/.ssh/azure_project_key.pub

           - name: Terraform Init
             run: terraform init

           - name: Terraform Format
             run: terraform fmt  -check

           - name: Terraform Validate
             run: terraform validate 

           - name: Terraform Plan
             run: terraform plan -input=false -var="environment=dev" -var="project_name=potforlioproj"
             
             